body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Main font */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, gray, white); /* Gray to white gradient */
}

#root {
    text-align: center;
}
